/*==============================

  GLOBAL IMPORTS
    ==============================*/

    @import "base/index.scss";
    @import "layout/index.scss";
    @import "components/index.scss";

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
    }
    img{
      width: 100%;
      height: 100%;
    }
    a:hover{
      text-decoration: none;
    }
    html{
      scroll-behavior: smooth;
    }
    body{
      font-size: 66.3%;
      font-family: $body-font;
    }

    h1{
      font-family: $banner-font;
    }
    p{
    font-size: 1rem;
    }
    /*==============================
      PRELOADER
    ==============================*/
    #preloader{
      background: $black;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9999;
    }
    
    #status{
      background: url("../img/preloader.gif") no-repeat center;
      width: 100%;
      height: 100%;
      position: absolute;
     top: 10%;
    
    }

    /*==============================
        END OF  PRELOADER
    ==============================*/

       /*==============================
        END OF JUMBOTRON
    ==============================*/

    #jumbotron{
      background:linear-gradient(rgba($black , 0.7) , rgba($black , 0.7)), url("../img/banner.jpg") no-repeat center;
      background-size: cover;
      height: 100vh;
      display: flex;
      align-items: center;
    width: 100%;

      .jumbo-wrapper{
 
      }
      h1{
        font-family: $banner-font;
        color: $white;
        font-size: 4rem;
        font-weight: lighter;
        letter-spacing: .1rem;
        margin-bottom: 5rem;

        @media #{$tab}{
          font-size: 3rem;
        }

        @media #{$mobile}{
          font-size: 2.5rem;
        }
      }
       a{
        @include button;
        @include transition;
      }
      a:hover{
        @include button-hover;
      }
    }

      nav a{
        font-size: 1rem;
        margin: .1rem 2rem;
        color: white;
        font-weight: bolder;
      }
      nav.shrink{
        background: rgba($color: $black, $alpha: .8);
        transition: .5s ease-in-out;
        padding: .8rem;
        box-shadow: .1rem .1rem .1rem rgba($color: $black, $alpha: 1.0);
   
      }

      .navbar-toggler-icon{
        color: blue;
        // background: blue;
        outline: blue;
        border: blue;
      }

      .navbar-toggler ,.navbar-toggler-icon{
        border-color: rgb(255,102,203);
      } 

       /*==============================
          END OF JUMBOTRON
    ==============================*/


       /*==============================
         ABOUT US
    ==============================*/
      #about-us{
        margin: 10rem auto;
        text-align: $center;
        h1{
          font-family: $banner-font;
        }
        p{
          font-size: 1rem;
          margin: 4rem auto;
        }
          a{
            @include button;
        @include transition;

                          }
                          a:hover{
                            @include button-hover;
                          }
          & .about-container{
            @include grid;
            margin-top: 3rem;
            text-align: left;
            .about-left{
              background: url("../img/web-dev1.jpg") no-repeat center;
              height: 70vh;

            }
          }
          a{
            @include button;
            @include transition;
          }
          a:hover{
            @include button-hover;
          }
        
      }





       /*==============================
          END OF ABOUT US
    ==============================*/

           /*==============================
         OUR SERVICES
    ==============================*/
    #our-services{
      background: $gray;
      text-align: $center;
      padding: 10rem 0;
      background: $gray;
      & .grid-container {
        @include grid;
        margin: 5rem auto;
        grid-gap: 2rem;
      }
      & img{
        width: 30%;
        margin: 2rem auto;
      }
      & .ser{
        background: $white;
        box-shadow: .2rem .3rem .2rem rgba($color: $black, $alpha: .5);
        padding-bottom: 3rem;
        width: 90%;
        margin: 3rem auto;
      }
      & a{
        @include button;
        @include transition;

      }
      a:hover{
        @include button-hover;
      }
     
      .services-container1 , .services-container2,
      .services-container3{
    @include flex;
        flex-wrap: wrap;
        text-align: left;
        margin-top: 4rem;
        & p{
          padding: 1rem;
        }
        & h2{
          text-align: center;
        }
      }
      .ser1-left{
        width: 50%;
        background: url(../img/services/android-dev-full.jpg) no-repeat center;
        height: 50vh;
        @media #{$tab}{
          width: 100%;
          order: -1;
        }
      }
      .ser2-right{
        width: 50%;
        margin-top: 5rem;

        @media #{$tab}{
          width: 100%;
        }
      }
      .ser3-left{
        height: 50vh;
        width: 50%;
        @media #{$tab}{
          width: 100%;
        }
      }
      .ser4-right{
        background: url("../img/services/web-development-full.jpg") no-repeat center;
        height: 50vh;
        width: 50%;
        @media #{$tab}{
          width: 100%;
          order: -1;
        }
      }
      .ser5-left{
        width: 50%;
        background: url("../img/services/web-dev5.jpg") no-repeat center;
        height: 50vh;
        @media #{$tab}{
          width: 100%;
        }
      }
      .ser6-right{
        width: 50%;
        @media #{$tab}{
          width: 100%;
        }
      }
    }

           /*==============================
          END OF OUR SERVICES
    ==============================*/


          /*==============================
        FEATURED WORK
    ==============================*/
    #featured-work{
      margin: 10rem auto;
      text-align: $center;
      & .container{
        @include grid;
        margin: 10rem auto;
      }
      & .work{
        overflow: hidden;
        cursor: pointer;
      }
     & .work img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
     & .work:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
      }
    .view-all{
        @include button;
        @include transition;

      }
      .view-all:hover{
        @include button-hover;

      }
      
    }

             /*==============================
        END OF FEATURED WORK
    ==============================*/

             /*==============================
        CLIENTS RIVIEW
    ==============================*/

  #our-clients{
    background: $gray;
    width: 100%;
    padding: 10rem 0;
    text-align: $center;
    & .client{
      width: 90%;
      margin: 0 auto;
      img{
        width: 200px;
        margin: 3rem auto;
        border-radius: 50px;
      }
      p{
        margin-bottom: 5rem;
      }
    }
    
  }
    

             /*==============================
    END OF    CLIENTS RIVIEW
    ==============================*/
    
  /*==============================
          CONTACT US
   ==============================*/
   #contact-us{
     @include grid;
  h2{
    text-align: $center;
    font-family: $banner-font;
  }    

     .contact-left{
       background: rgba($color: $black, $alpha: .8);
       text-align: $center;
       color: $white;
     padding: 8rem 0;
     
     }
     .contact-right{
     padding: 8rem 0;

      input{
        width: 70%;
        background: $gray;
        @media #{$mobile}{
          width: 90%;
        }
      }
      .container{
        width: 90%;
        margin: 0 auto;
      }
      label{
        font-weight: bold;
        font-size: 1rem;
      }
      .form-group{
        margin: 4rem auto;
      }
      a{
        @include sign-in-button;
      }
      a:hover{
        @include button-hover;
        @include transition;
      }
     }
   }




     /*==============================
        FOOTER
   ==============================*/
 footer{
   text-align: center;
   background: $light-black;
   padding: 10rem 0;
   img{
     width: 50px;
     margin: 3rem;
     z-index: 5;
   }
 }